

@model List<CourseViewModel>
@*in questo Modo rendiamo la nostra view fortemente tipitizato cioè predisporla a presentare un certo tipo di oggetto*@

@{
    ViewData["Title"] = "Index";
}

<h1>CATALOGO DEI CORSI</h1>



@foreach (CourseViewModel course in Model)
{
    <hr>
    <div class="row course">
        <div class="col-md-1">
            <img src="@course.ImagePath" width="52" height="52">
        </div>
        <div class="col-md-5">
            <h2>@course.Title</h2>
            <author>@course.Author</author>
        </div>
        <div class="col-md-2 rating" title="@course.Rating">
            @for (int i = 0; i <= 5; ++i)
            {
                if (course.Rating >= i)
                {
                    <i class="fas fa-star"></i>
                }
                else if (course.Rating > i - 1)
                {
                    <i class="far fa-star"></i>
                }
                else
                {
                    <i class="fas fa-star"></i>
                }
            }

        </div>
        <div class="col-md-2 price">
            @course.CurrentPrice<br>
            @if (!course.CurrentPrice.Equals(course.FullPrice)) 
            {
                <s>@course.FullPrice</s>
            }
        </div>
        <div class="col-md-2 d-flex align-items-center">
            <a class="btn btn-outline-primary"  asp-action="Details" asp-route-id="@course.Id">Dettaglio</a>
        </div>
    </div>
}


